photo frame/settings.php
server/settings.php
photo frame/image.jpg
photo frame/settings.json
server/settings.json
server-frontend/.vscode/
server-scanner/.vscode/
frontend/next.jpg
server-frontend/images.db
server-frontend/settings.json
server-scanner/settings.json
frontend/settings.json
frontend/.vscode/
server/.env
server/build.sh
server/piframe_server.tar
server/db.log
frontend/image.jpg
